html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 600px;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
  width: auto;
  height: auto;
}

.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
.my-container:before {

    background-image: url('http://placekitten.com/1500/1000');

}



#img-1 {
  position: relative;
  background: #000;
  overflow: hidden;
}
#img-1:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background: url('images/3.jpg') no-repeat center center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#img-2 {
  background: url('images/7.jpg') no-repeat center center;
  opacity:0.2;
}
#img-3 {
  background: url('images/6.jpg') no-repeat center center;
  opacity:0.2;
}
#img-4 {
  background: url('images/5.jpg') no-repeat center center;
  opacity:0.2;
}
.form {
  height: 20%;
  max-height: 500px;
  margin: auto 0;
  position: absolute;
  margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.form h4 {
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 3px black;
  padding: 0 15px;
}
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .form h4 {
        font-size: 30px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .form h4 {
        font-size: 35px;
    }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .form h4 {
        font-size: 40px;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .form h4 {
        font-size: 45px;
    }
}

.options {
  display: inline-block;
}
.navbar-brand img {
  height: 100%;
  margin: 0 10px 0 0;

}
.navbar-brand a {
  color: white;
  text-decoration: none;
  padding:
}
#four-images-container {
 padding: 0;
}
.img-responsive {
  margin: 0 auto;

}
.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 0;
}
#four-images-row {
  margin: 0 0;
  padding: 0;
}
.four-images {
  padding: 10px 5px 0 5px;

}
.four-images img {
  border-radius: 2%;
}
.col-xs-12 {

}
