html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 600px;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
  width: auto;
  height: auto;
}
#img-1 {
  background: url('images/3.jpg') no-repeat center center;
}
#img-2 {
  background: url('images/7.jpg') no-repeat center center;
}
#img-3 {
  background: url('images/6.jpg') no-repeat center center;
}
#img-4 {
  background: url('images/5.jpg') no-repeat center center;
}
#img-5 {
  background: url('images/7.jpg') no-repeat center center;
}
#img-6 {
  background: url('images/3.jpg') no-repeat center center;
}
.form {
  height: 20%;
  max-height: 500px;
  margin: auto 0;
  position: absolute;
  margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}
.options {
  display: inline-block;
}
.navbar-brand img {
  height: 100%;
  margin: 0 10px 0 0;

}
.navbar-brand a {
  color: white;
  text-decoration: none;
  padding:
}
