html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 470px;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
  width: auto;
  height: auto;
}

.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
.my-container:before {
    background-image: url('http://placekitten.com/1500/1000');

}
#img-1 {
  position: relative;
  background: #000;
  overflow: hidden;
}
#img-1:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background: url('images/3.jpg') no-repeat center center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#img-2 {
  background: url('images/7.jpg') no-repeat center center;
  opacity:0.2;
}
#img-3 {
  background: url('images/6.jpg') no-repeat center center;
  opacity:0.2;
}
#img-4 {
  background: url('images/5.jpg') no-repeat center center;
  opacity:0.2;
}
.form {
    padding-top: 135px;
  margin: auto auto;
  width: 95%;
  max-width: 900px;
  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.form h4 {
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 3px black;
  padding: 0 15px;
}
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .form h4 {
        font-size: 30px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .form h4 {
        font-size: 35px;
    }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .form h4 {
        font-size: 40px;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .form h4 {
        font-size: 45px;
    }
}
.form .input-group {
    width: 85%;
    max-width: 900px;
    margin: 20px auto;
}

#suburb-submit {
    margin: 0 auto 0 auto;
    padding: 10px 0 70px 0;
    max-width: 750px;
    width: 100%;
}
#basic-addon2 {
    border-radius: 0;
    padding: 0 30px;
    background-color: #FFA200;
    color: white;
    border: none;
}
#suburb-submit-input {
    background-color: rgba(255, 255, 255, 0.23);
    border: none;
    height: 57px;
    border-radius: 0;
    color: white;
}

#suburb-submit-input::-webkit-input-placeholder { /* Chrome */
  color: rgb(245, 245, 245);
}
#suburb-submit-input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(245, 245, 245);
}
#suburb-submit-input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(245, 245, 245);

}
#suburb-submit-input:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgb(245, 245, 245);

}
.options {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: bold;

}
#buy, #rent, #sale {
    border-right: 1px solid white;
    padding: 0 10px;
    line-height: 20px;
}
#commercial {
    padding: 0 10px;
}
#options-buy {
    text-align: center;
    margin: 45px 0 20px 6px;

}
.navbar-brand img {
  height: 100%;
  margin: 0 10px 0 0;

}
.navbar-brand a {
  color: white;
  text-decoration: none;
  padding:
}
#four-images-container {
 padding: 0;
}
.img-responsive {
  margin: 0 auto;

}
.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 0;
}
#four-images-row {
  margin: 0 0;
  padding: 0;
}
.four-images {
  padding: 10px 5px 0 5px;

}
.four-images img {
  border-radius: 2%;
}
.col-xs-12 {

}
